body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0 0 20px 0;
}

body.body--prevent-scroll {
  box-sizing: border-box;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); /* sass-lint:disable-line no-duplicate-properties */
  overflow-y: hidden;
  /* position: fixed; */
  width: 100%;
}

form {
  display: block;
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.webapp-cont {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 15px;
}

header {
  background: #edc13a;
  color: #4c0306;
  height: 45px;
}

header .webapp-cont {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 45px;
  justify-content: space-between;
  text-align: left;
  padding: 0 25px;
}

header button {
  background-color: #4c0306;
  background-image: url('/umm/file-upload.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px auto;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  height: 36px;
  margin: auto 0 auto auto;
  width: 36px;
}

header button:active,
header button:focus {
  border: 0;
  outline: none;
}

input[type='text'],
input[type='number'],
input[type='password'],
select {
  border: 1px #666 solid;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  padding: 10px;
  width: 100%;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  margin: auto auto auto 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 0;
  padding: 0;
}

.btn {
  background: #aaa;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  margin: 0 auto;
  padding: 7px 12px;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
}

select {
  cursor: pointer;
}

select:focus {
  outline: 0;
}

a {
  color: #000;
}

.app-drag-behavior__drag-file-cont {
  background: rgba(255, 255, 255, .5);
  border: 2px #666 dashed;
  bottom: 3px;
  color: #666;
  align-items: center;
  display: none;
  font-size: 40px;
  justify-content: center;
  left: 3px;
  position: fixed;
  right: 3px;
  top: 3px;
  z-index: 9999;
}

.app-drag-behavior--dragging-file .app-drag-behavior__drag-file-cont {
  display: flex;
}
