body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

form {
  display: block;
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.webapp-cont {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 15px;
}

input[type='text'],
input[type='password'] {
  border: 1px #666 solid;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  width: 100%;
}

h1 {
  font-size: 28px;
  margin: 10px 0 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  margin: 10px 0 0;
  padding: 0;
}

.btn {
  background: #aaa;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  margin: 0 auto;
  padding: 7px 12px;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
}

a {
  color: #000;
}
