.search__input {
  margin-top: 10px;
  border: 1px #666 solid;
  border-radius: 5px;
  padding: 10px 20px;

  &:focus {
    border: 1px #999 solid;
    outline: none;
  }
}

.search__results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;

  &.search__results--cols3 {

    li {
      width: 33.3333%;
    }
  }

  &.search__results--cols4 {

    li {
      width: 25%;
    }
  }

  li {
    box-sizing: border-box;
    overflow: hidden;
    width: 50%;
    text-align: center;

    img {
      cursor: pointer;
      display: block;
      margin: 0 auto;
      max-height: 300px;
      max-width: 100%;
    }
  }
}
