.search__results {
  position: relative;

  .btn {
    align-items: center;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px auto;
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex: 0 0 auto;
    // height: 35px;
    height: 25px;
    justify-content: center;
    overflow: hidden;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    // padding: 0;
    // width: 35px;
    // text-indent: -500px;
  }
}

/*
.btn--download {
  background-image: url('/umm/file-download.svg');
}

.btn--share--android {
  background-image: url('/umm/share-alt.svg');
}

.btn--share--ios {
  background-image: url('/umm/share-square.svg');
}

.btn--edit {
  background-image: url('/umm/pencil-alt.svg');
}*/
